.cart-page{

    margin-top:30px;

}



.cart-list{

    margin-top:20px;

}



.cart-total{

    margin-top:30px;

    background:#fff;

    padding:20px;

    border-radius:12px;

    font-size:22px;

}



.cart-total b{

    color:#e30019;

    margin-left:15px;

}
.checkout-btn{

    display:block;

    margin-top:20px;

    width:220px;

    height:45px;

    background:#e30019;

    color:#fff;

    border-radius:8px;

    text-align:center;

    line-height:45px;

    font-weight:700;

}
