.deal-section{

    margin-top:25px;

}



.deal-wrapper{

    background:#fff;

    border-radius:14px;

    padding:20px;

}



.deal-wrapper h2{

    font-size:30px;

    margin-bottom:20px;

    font-weight:700;

}



.deal-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:18px;

}



.deal-card{

    position:relative;

    border-radius:14px;

    overflow:hidden;

    cursor:pointer;

    background:#eee;

}



.deal-card img{

    width:100%;

    height:220px;

    object-fit:cover;

    transition:.4s;

}



.deal-card:hover img{

    transform:scale(1.08);

}



.deal-content{

    position:absolute;

    left:0;

    bottom:0;

    width:100%;

    padding:20px;

    color:#fff;

    background:

    linear-gradient(

        transparent,

        rgba(0,0,0,.8)

    );

}



.deal-content h3{

    font-size:18px;

    line-height:25px;

}



.deal-content button{

    margin-top:12px;

    background:#ffd400;

    height:36px;

    padding:0 18px;

    border-radius:20px;

    font-weight:700;

}



@media(max-width:992px){


.deal-grid{

grid-template-columns:repeat(2,1fr);

}


}



@media(max-width:576px){


.deal-grid{

grid-template-columns:1fr;

}


.deal-wrapper h2{

font-size:24px;

}


}