.container{

width:100%;

max-width:1200px;

margin:auto;

padding-left:10px;

padding-right:10px;

}

.grid{

display:grid;

gap:20px;

}

.flex{

display:flex;

}

.flex-center{

display:flex;

justify-content:center;

align-items:center;

}

.flex-between{

display:flex;

justify-content:space-between;

align-items:center;

}