@media(max-width:768px){


body{

font-size:13px;

}



.navbar-wrap{

height:auto;

padding:12px 0;

flex-wrap:wrap;

}



.logo img{

height:35px;

}



.location,
.cart{

font-size:12px;

padding:8px;

}



.menu{

overflow-x:auto;

flex-wrap:nowrap;

}



.menu li{

white-space:nowrap;

font-size:13px;

}



.search-box{

height:42px;

}



.flash-title{

font-size:22px;

}



.product-price,
.cheap-price,
.student-price{

font-size:18px;

}



}



@media(max-width:480px){


.banner-layout{

display:block;

}



.banner-right{

display:none;

}



.flash-wrapper{

padding:12px;

}



.section-header h2,
.brand-title,
.cheap-header h2{

font-size:22px;

}



}
