.filter-box{

    background:#fff;

    padding:20px;

    border-radius:14px;

    border:1px solid #eee;

}



.filter-box h3{

    font-size:22px;

    margin-bottom:20px;

}



.filter-group{

    margin-bottom:25px;

}



.filter-group h4{

    margin-bottom:12px;

}



.filter-group label{

    display:block;

    margin-bottom:10px;

    color:#555;

}



.filter-group input{

    margin-right:8px;

}
