/*=======================================

CATEGORY

=======================================*/

.categories{

padding:60px 0;

}

.section-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.section-header h2{

font-size:32px;

font-weight:700;

color:#222;

}

.section-header a{

color:var(--primary);

font-weight:600;

}

.category-grid{

display:grid;

grid-template-columns:repeat(5,1fr);

gap:22px;

}

.category-card{

background:#fff;

border-radius:18px;

overflow:hidden;

box-shadow:0 8px 25px rgba(0,0,0,.06);

cursor:pointer;

transition:.35s;

position:relative;

}

.category-card:hover{

transform:translateY(-10px);

box-shadow:0 20px 40px rgba(0,0,0,.12);

}

.category-image{

height:150px;

overflow:hidden;

}

.category-image img{

width:100%;

height:100%;

object-fit:cover;

transition:.4s;

}

.category-card:hover img{

transform:scale(1.12);

}

.category-icon{

width:62px;

height:62px;

background:#fff;

border-radius:50%;

position:absolute;

left:50%;

top:118px;

transform:translateX(-50%);

display:flex;

justify-content:center;

align-items:center;

font-size:24px;

color:var(--primary);

box-shadow:0 8px 20px rgba(0,0,0,.12);

}

.category-card h3{

padding:50px 15px 25px;

text-align:center;

font-size:18px;

font-weight:700;

}

.category-card:hover h3{

color:var(--primary);

}