/*=======================================

CATEGORY

=======================================*/

@media(max-width:1200px){

.category-grid{

grid-template-columns:repeat(4,1fr);

}

}

@media(max-width:992px){

.category-grid{

grid-template-columns:repeat(3,1fr);

}

}

@media(max-width:768px){

.category-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:500px){

.category-grid{

grid-template-columns:1fr;

}

}
/*======================================

FLASH SALE

======================================*/

@media(max-width:1200px){

.flash-products{

grid-template-columns:repeat(4,1fr);

}

}

@media(max-width:992px){

.flash-products{

grid-template-columns:repeat(3,1fr);

}

}

@media(max-width:768px){

.flash-products{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:500px){

.flash-products{

grid-template-columns:1fr;

}

.flash-left{

flex-direction:column;

align-items:flex-start;

gap:15px;

}

}
/*======================================

PRODUCTS

======================================*/

@media(max-width:1200px){

.product-grid{

grid-template-columns:repeat(4,1fr);

}

}

@media(max-width:992px){

.product-grid{

grid-template-columns:repeat(3,1fr);

}

}

@media(max-width:768px){

.product-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:520px){

.product-grid{

grid-template-columns:1fr;

}

.product-header{

flex-direction:column;

align-items:flex-start;

gap:15px;

}

}