.skeleton {
  background: #eee;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 100px;
  height: 100%;
  background: linear-gradient(to right, transparent, #fff, transparent);
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(300px);
  }
}

.skeleton-card {
  height: 260px;
}