:root{

/* MAIN */

--primary:#ee4d2d;

--primary-hover:#d73a1d;

--secondary:#ff7337;

/* TEXT */

--text:#222;

--text-light:#666;

--white:#ffffff;

/* BG */

--bg:#f5f5f5;

--card:#ffffff;

/* BORDER */

--border:#ececec;

/* SHADOW */

--shadow:

0 5px 20px rgba(0,0,0,.08);

/* RADIUS */

--radius:14px;

/* TRANSITION */

--transition:.3s;

/* WIDTH */

--container:1280px;

}