.top-banner{
    width:100%;
    background:#ffd400;
}

.top-banner img{
    display:block;
    width:100%;
}

.header{
    background:#ffd400;
    position:sticky;
    top:0;
    z-index:999;
}

.header-container{

    max-width:1200px;
    margin:auto;

    height:64px;

    display:flex;

    align-items:center;

    gap:20px;
}

.logo{

    font-size:30px;

    font-weight:700;

    color:#000;

    min-width:140px;
}

.search{

    flex:1;

    display:flex;
}

.search input{

    flex:1;

    height:42px;

    border:none;

    border-radius:8px 0 0 8px;

    padding:0 15px;

    outline:none;

    font-size:15px;
}

.search button{

    width:55px;

    border:none;

    background:#fff;

    border-radius:0 8px 8px 0;

    font-size:20px;
}

.menu{

    display:flex;

    gap:18px;
}

.menu a{

    font-size:14px;

    color:#000;

    font-weight:500;
}

.header-right{

    display:flex;

    gap:10px;
}

.header-right button{

    border:none;

    padding:10px 15px;

    border-radius:8px;

    background:#fff;

    font-weight:600;
}