.search-box{

    display:flex;

    width:100%;

}



.search-box input{

    flex:1;

    height:45px;

    border:1px solid #ddd;

    padding:0 15px;

    border-radius:8px 0 0 8px;

    font-size:15px;

}



.search-box button{

    width:55px;

    background:#ffd400;

    border-radius:0 8px 8px 0;

    font-size:20px;

}